Edit in JSFiddle
Result
HTML
CSS
JavaScript
Resources
header {
  position: fixed;
}

header #video {
  width: 100%;
  position: fixed;

  
}

header .main_section{
  top: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  padding: 30px;
 z-index: 2;
}






@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}